
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us5.list-manage.com","uuid":"c66fd0481423e6c9049c6b2dc","lid":"eb182a4891","uniqueMethods":true}) })</script>

        <footer class="typewr">
          <a href="/">
            <img class="menu-ico" alt="Comics Icon" src="{{site.baseurl}}/assets/menu-comics.svg" />
            Comics
          </a>
          <a href="/blog">
            <img class="menu-ico" alt="Blog Icon" src="{{site.baseurl}}/assets/menu-blog.svg" />
            Blog
          </a>
          <a href="https://www.facebook.com/Abducted-The-Comic-272225756943585/?modal=admin_todo_tour" target="_blank">
            <img class="menu-ico" alt="Facebook Icon" src="{{site.baseurl}}/assets/menu-fb.svg" />
            Facebook
          </a>
          <a href="https://www.instagram.com/abductedthecomic/" target="_blank">
            <img class="menu-ico" alt="Instagram Icon" src="{{site.baseurl}}/assets/menu-insta.svg" />
            Instagram
          </a>
          <a href="https://abductedthecomic.com/feed.xml">
            <img class="menu-ico" alt="RSS Icon" src="{{site.baseurl}}/assets/menu-rss.svg" />
            RSS
          </a>
        </footer>

        <script src="{{site.baseurl}}/assets/js/lazysizes.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/nav.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39448997-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-39448997-2');
        </script>
    </body>
</html>
