<!DOCTYPE html>

  <html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon Stuff -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#000">

        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
         
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

        <!-- Lazyload JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.1/dist/lazyload.min.js"></script>

       <!-- Social Graph Stuff -->
      <meta property="og:image" content="/og-image.jpg">
      <meta property="og:image:height" content="151">
      <meta property="og:image:width" content="288">
      <meta property="og:title" content="Abducted - A horror-thriller comic told in 6 chapters.">
      <meta property="og:description" content="Claire had been looking for answers her whole life. This spring, those answers found her. Written by Zach Herring. Drawn by Jay Red. Colored by Maja Opacic.">
      <meta property="og:url" content="https://abductedthecomic.com/">

      </head>

        <!--[if IE 7]><link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello-ie7.css"><![endif]-->
    </head>

    <body>
