@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  #main-splash {
    height: 70vh;
    justify-content: space-evenly;
    padding: 1rem;
  }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

/* Styles */

}
