
#left-col {
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#right-col {
  height: calc(100vh - 3rem);
  flex: auto;
  padding: 2rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  p {
    // font-size: 1.3em;
    color: #b9b9b9;
    font-weight: lighter;
    img {
    width: 100%;
    max-width: 850px;
    }
  }
}
