
#left-col {
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#right-col {
  height: calc(100vh - 3rem);
  flex: auto;
  padding: 2rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  p {
    // font-size: 1.3em;
    color: #b9b9b9;
    font-weight: lighter;
    img {
    width: 100%;
    max-width: 850px;
    }
  }

  img { padding-bottom: 1em; }
}

#home {
  display: none;
  width: 8vw;
  height: 8vw;
  position: fixed;
  top: 3vw;
  left: 3vw;
}

.icon {
  opacity: .4;
  width: 100%;
  transition: all .2s ease-in-out;

  &:hover, &:active {
    opacity: 1;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */

  #home {
  display: block;
  }

  main.chapter {
    height: inherit;
    flex: auto;
    padding: 0;
    overflow-y: inherit;
    flex-direction: column-reverse;
  #right-col {
    height: inherit;
    flex: auto;
    padding: 0;
    overflow-y: inherit;
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */

  #home {
  display: block;
  height: 4vw;
  width: 4vw;
  }

  main.chapter {
    height: inherit;
    flex: auto;
    padding: 0;
    overflow-y: inherit;
    flex-direction: column-reverse;
  #right-col {
    height: inherit;
    flex: auto;
    padding: 0;
    overflow-y: inherit;
    }
  }
}
