main {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main-splash {
  min-height: 100vh;
  margin-bottom: 3rem;
  background-image: url(/assets/bg-sharp.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;

  display: flex;
  flex-direction: column;
  justify-content: center;

  > p { margin: .5em; }
  img.splash { width: 100%; max-width: 800px; min-height: 500vh; }
}

img#splash-logo { width: 70%; max-width: 900px; margin-bottom: 2rem;}

.splash-ch-thumb, .splash-ch-description { text-align: left; }

.chapter-item {
  margin-bottom: 1rem;
  justify-content: flex-start;
  width: 45%;
}

.splash-ch-thumb {
  height: 13rem;
  width: 13rem;
  padding: 1rem;
  padding-top: 8rem;

  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  border: .8rem solid #000;
  box-shadow: 0 0 2rem 0 rgba(255,255,255,0.33);

  a, h3, aside { background: #fff; color: #000; padding: .2rem; }
  h3, aside { display: inline-block; }
  aside { text-transform: uppercase; font-size: .8em; }
  a { display: block; }
  h3 { margin: 0; }
}

#front-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em;
  padding-bottom: 3em;

  p {
    // font-size: 1em;
    color: #b9b9b9;
    font-weight: lighter;
    img {
    width: 100%;
    max-width: 980px;
    }
  }
}

#main-splash {
}
.gray { color: #8f8f8f; }

#front-col .splash-ch-description {
  text-align: left;
  padding: 3.5rem;
  width: 24rem;


.spotify {
  width: 1em;
  margin-top: -0.2rem;
  path { fill: #666;
    &:hover { fill: #FFF; }
    }
  }
}

.spotify-link {
  color: #fff;
  opacity: .6;
  &:hover { opacity: 1; }
  svg { margin-top: -0.2rem; }
}

#scroll-arrow {
  opacity: .7;
  transform: translateY(1em);
   animation: floating 1s linear 2s infinite alternate;
   // animation-direction: alternate;
  }

@keyframes floating {
  from {transform: translatey(.8em); opacity: 1;}
  to {transform: translatey(1em); opacity: .3;}
  }
