#store {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15rem;

  justify-content: space-around;

  h1 { width: 100%; }
  }

  .item {
    text-align: left;
    width: 40%;
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;

    .store-left-col {
      // width: 50%;

      img { border-radius: 20px; }
    }

    .store-right-col {
      // width: 50%;
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 1rem;

      justify-content: center;
      // align-items: center;

    }

    img {
      max-width: 100%;
      // width: 10rem;
    }
  }

.buy { text-align: center; background: #E25839; font-weight: bolder; padding: 1rem; }
