#store {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15rem;

  h1 { width: 100%; }
  }

  .item {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: row;
    img {
      max-width: 100%;
      width: 10rem;
    }
  }

.buy { background: red; padding: 1rem; }
