{% include header.html %}
  <main class="chapter fl fl-row">
    <div id="left-col">
      {% include nav.html %}
      <div id="playlist">
        <iframe src="https://open.spotify.com/embed/{{page.spotify}}" width="250" height="78" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>

    <div id="right-col" class="scrollingPanel lazyload">
      <h1 class="typewr">{{ page.title }}</h1>
      {{ content }}

      <p>Wanna see more? Subscribe to <a href="http://www.eepurl.com/gwLQrv">the mailing list</a> for early previews and mini-comics from Zach and Jay.</p>

    </div>
  </main>

  {% include footer.html %}

  </html>
