{% include header.html %}
  <main class="chapter fl fl-row">
    <div id="left-col">
      {% include nav.html %}
      <div id="playlist">
        <iframe src="https://open.spotify.com/embed/{{page.spotify}}" width="250" height="78" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>

    <div id="right-col" class="scrollingPanel lazyload">
      <h1 class="typewr">{{ page.title }} Preview</h1>
      {{ content }}

      <p>Wanna see more? Buy the full series at our online <a href="{{ site.url}}/store">store</a> or read them on <a href="https://www.comixology.com/Abducted-Vol-1-Pinned-Mounted/comics-series/155490?ref=c2VhcmNoL2luZGV4L2Rlc2t0b3Avc2xpZGVyTGlzdC9zZXJpZXNTbGlkZXI" target="_blank">Comixology</a>.

    </div>
  </main>

  {% include footer.html %}

  </html>
