{% include header.html %}
        <main>
          <div id="main-splash">
            {{ content }}
            <!-- <p>
              <span class="typewr gray"><strong class="typewr" id="days">00</strong> days, </span>
              <span class="typewr gray"><strong class="typewr" id="hours">00</strong> hours, </span>
              <span class="typewr gray"><strong class="typewr" id="minutes">00</strong> minutes, </span>
              <span class="typewr gray"><strong class="typewr" id="seconds">00</strong> seconds.</span>
            </p> -->
             <!-- <img alt="Scroll Arrow " src="{{site.baseurl}}/assets/scroll-arrow.svg" id="scroll-arrow"> -->
          </div>

          <div style="display:none;">
            <h2 class="typewr">Latest Updates</h2>
            <div id="update-col" class="fl fl-row">


              {% for item in site.tags.new %}

                <div class="fl fl-col chapter-item">

                  <a href="{{item.url}}">
                    <div class="splash-ch-thumb" style="background-image: url('{{site.baseurl}}/assets{{item.permalink}}cover.jpg')">
                      <aside class="typewr"><mark>{{item.aside}}</mark></aside>
                      <h3 class="typewr"><mark>{{item.title}}<mark></h3>
                    </div>
                  </a>

                    <div class="splash-ch-description">
                      <a href="{{item.url}}" class="typewr">{{ item.description }}</a>
                      <p>
                        <a class="spotify-link" href="https://open.spotify.com/user/{{item.spotify}}" target="_blank">
                          {% include spotify.svg %}
                          Spotify Mixtape
                        </a>
                      </p>
                  </div>
                </div>


              {% endfor %}


                <div class="fl fl-col chapter-item">

                  <a href="/store">
                    <div class="splash-ch-thumb" style="background-image: url('{{site.baseurl}}/assets/store/cover.jpg')">
                      <!-- <aside class="typewr"><mark></mark></aside> -->
                      <h3 class="typewr"><mark>&nbsp;🛒&nbsp; Store<mark></h3>
                    </div>
                  </a>

                    <div class="splash-ch-description">
                      <a href="/store" class="typewr">
                        Buy the limited-run physical editions of Abducted comics, stickers, and more!
                      </a>
                    </div>

                </div>

              </div>
            </div>

            <h2 class="typewr">All Issues</h2>

            <div id="front-col" class="fl fl-row">
              {% for item in site.tags.issue reversed %}
                <a href="{{item.url}}">
                  <div class="fl fl-col chapter-item">
                      <div class="splash-ch-thumb" style="background-image: url('{{site.baseurl}}/assets{{item.permalink}}cover.jpg')">
                        <aside class="typewr"><mark>{{item.aside}}</mark></aside>
                        <h3 class="typewr"><mark>{{item.title}}<mark></h3>
                      </div>
                      <div class="splash-ch-description">
                        <p class="typewr">{{ item.description }}</p>
                        <p>
                          <a class="spotify-link" href="https://open.spotify.com/user/{{item.spotify}}" target="_blank">
                            {% include spotify.svg %}
                            Spotify Mixtape
                          </a>
                        </p>
                    </div>
                  </div>
                </a>
              {% endfor %}
            </div>
        </main>

  {% include footer.html %}

<script type="text/javascript">
  // function countdown(endDate) {
  //   let days, hours, minutes, seconds;
  //
  //   endDate = new Date(endDate).getTime();
  //
  //   if (isNaN(endDate)) {
  // 	return;
  //   }
  //
  //   setInterval(calculate, 1000);
  //
  //   function calculate() {
  //     let startDate = new Date();
  //     startDate = startDate.getTime();
  //
  //     let timeRemaining = parseInt((endDate - startDate) / 1000);
  //
  //     if (timeRemaining >= 0) {
  //       days = parseInt(timeRemaining / 86400);
  //       timeRemaining = (timeRemaining % 86400);
  //
  //       hours = parseInt(timeRemaining / 3600);
  //       timeRemaining = (timeRemaining % 3600);
  //
  //       minutes = parseInt(timeRemaining / 60);
  //       timeRemaining = (timeRemaining % 60);
  //
  //       seconds = parseInt(timeRemaining);
  //
  //       document.getElementById("days").innerHTML = parseInt(days, 10);
  //       document.getElementById("hours").innerHTML = ("0" + hours).slice(-2);
  //       document.getElementById("minutes").innerHTML = ("0" + minutes).slice(-2);
  //       document.getElementById("seconds").innerHTML = ("0" + seconds).slice(-2);
  //     } else {
  //       return;
  //     }
  //   }
  // }
  //
  // (function () {
  //   countdown('02/14/2019 09:00:00 AM');
  // }());

</script>

  </html>
