{% include header.html %}
<div id="store">
  <h1 class="typewr">Store</h1>

  {% for item in site.tags.storeitem %}
    <div class="item">
      <div class="store-left-col">
        <a href="{{item.store-link}}" target="_blank">
          <img class="product-shot" src="{{item.img}}">
        </a>
      </div>
      <div class="store-right-col">
        <h2>Store Item: {{item.title}}</h2>
        <p>{{item.description}} </p>
        <a class="buy" href="{{item.store-link}}" target="_blank"> ${{item.price}} + S&H | Buy Now</a>
      </div>
    </div>
  {% endfor %}


  <!-- <div class="item">
    <a href="https://checkout.square.site/buy/CQJCO4RBWHNZ27IC6KXBHZM3">
    <img class="product-shot" src="{{site.baseurl}}/assets/store/comic-rack-4.jpg">
    <h2>Abducted: The Complete Series</h2>
    <p>All five chapters of Abducted the comic, bagged and boarded for your longbox. </p>
    <p>$25 + S&H</p>
    <span class="buy">Buy Now</span>
    </a>
  </div>
  <div class="item">
    <a href="https://checkout.square.site/buy/IVEPQLRSELIPEEQKWYZTTTDN">
    <img class="product-shot" src="{{site.baseurl}}/assets/store/comic-rack-4.jpg">
    <h2>Abducted Collector's Box Set</h2>
      <p>Stickers! Comics! This limited edition Collector Box set has it all, including all five chapters of Abducted the comic, bagged and boarded as well as a limited-edition boxed set container for your bookshelf. </p>
      <p>$30 + S&H</p>
      <span class="buy">Buy Now</span>
    </a>
  </div> -->

  <!-- <div class="item">
    <a href="https://checkout.square.site/buy/XMZBPJ5TV7GYNVEAM7UXFUMY">
    <img class="product-shot" src="{{site.baseurl}}/assets/store/comic-rack-4.jpg">
    <h2>Stickers</h2>
      <p>The original Abducted sticker pack. Limited edition and going fast!</p>
      <p>$5 + S&H</p>
      <span class="buy">Buy Now</span>
    </a>
  </div> -->

</div>
  {% include footer.html %}

  </html>
