{% include header.html %}
<div id="store">
  <h1 class="typewr">Store</h1>

  {% for item in site.tags.storeitem %}
    <div class="item">
      <div class="store-left-col">
        <a href="{{item.store-link}}" target="_blank">
          <img class="product-shot" src="{{item.img}}">
        </a>
      </div>
      <div class="store-right-col">
        <h2 class="typewr">{{item.title}}</h2>
        <p>{{item.description}} </p>
        <a class="buy" href="{{item.store-link}}" target="_blank"> ${{item.price}} + S&H | Buy Now</a>
      </div>
    </div>
  {% endfor %}


</div>
  {% include footer.html %}

  </html>
