{% include header.html %}

<div id="store-wrapper">
  <section id="blog-gutter" class="inte-rior"></section>
  <div id="store">
    <a href="/">{% include logo.html %}</a>
    <h1 class="typewr">Store</h1>

    {% for item in site.tags.storeitem %}
      <div class="item">
        <div class="store-left-col">
          <a href="{{item.store-link}}" target="_blank">
            <img class="product-shot" src="{{item.img}}">
          </a>
        </div>
        <div class="store-right-col">
          <h2 class="typewr">{{item.title}}</h2>
          <p>{{item.description}} </p>
          <a class="buy" href="{{item.store-link}}" target="_blank"> ${{item.price}} + $8 S&H | Buy Now</a>
        </div>
      </div>
    {% endfor %}
    <div id="contact-us">
      <p>
        For custom orders or questions send us an email! We'll get back to you within 2 business days.</p>
        <br />
        <a href="mailto:jaredhdpix@gmail.com?subject=Questions re: Abducted Store" class="buy">Email Us</a>

    </div>
  </div>
</div>
  {% include footer.html %}

  </html>
